from flask import Flask, render_template, url_for, request, redirect, session, flash
import sqlite3
from flask import Flask, render_template, request, redirect, url_for, session
from datetime import datetime, date, time
from flask_sqlalchemy import SQLAlchemy
from flask_login import LoginManager, UserMixin, login_user, logout_user, current_user
from werkzeug.security import generate_password_hash, check_password_hash
import os
from app import db, Product, app
import sqlite3